<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_gara_doc_document_groups"
              name="Nhóm chứng từ"
              parent="gara_workshop.menu_gara_grp_documents"
              action="action_gara_account_document_group"
              groups="gara_workshop.group_gara_role_accountant,account.group_account_manager"
              sequence="30"/>
    <menuitem id="menu_gara_doc_document_reasons"
              name="Lý do chứng từ"
              parent="gara_workshop.menu_gara_grp_documents"
              action="action_gara_account_document_reason"
              groups="gara_workshop.group_gara_role_accountant,account.group_account_manager"
              sequence="35"/>
    <menuitem id="menu_gara_doc_receipt_documents"
              name="Phiếu thu"
              parent="gara_workshop.menu_gara_grp_documents"
              action="action_gara_receipt_documents"
              groups="gara_workshop.group_gara_role_accountant,account.group_account_manager"
              sequence="36"/>
    <menuitem id="menu_gara_doc_payment_documents"
              name="Phiếu chi"
              parent="gara_workshop.menu_gara_grp_documents"
              action="action_gara_payment_documents"
              groups="gara_workshop.group_gara_role_accountant,account.group_account_manager"
              sequence="37"/>
    <menuitem id="menu_gara_doc_sale_invoice_documents"
              name="Hóa đơn bán hàng"
              parent="gara_workshop.menu_gara_grp_documents"
              action="action_gara_sale_invoice_documents"
              groups="gara_workshop.group_gara_role_accountant,account.group_account_manager"
              sequence="38"/>
    <menuitem id="menu_gara_doc_purchase_invoice_documents"
              name="Hóa đơn mua hàng"
              parent="gara_workshop.menu_gara_grp_documents"
              action="action_gara_purchase_invoice_documents"
              groups="gara_workshop.group_gara_role_accountant,account.group_account_manager"
              sequence="39"/>
    <menuitem id="menu_gara_doc_journal_documents"
              name="Phiếu kế toán"
              parent="gara_workshop.menu_gara_grp_documents"
              action="action_gara_journal_documents"
              groups="gara_workshop.group_gara_role_accountant,account.group_account_manager"
              sequence="40"/>
    <menuitem id="menu_gara_doc_document_book"
              name="Sổ chứng từ"
              parent="gara_workshop.menu_gara_grp_documents"
              action="action_gara_account_document_book"
              groups="account.group_account_readonly"
              sequence="41"/>
    <menuitem id="menu_gara_doc_import_invoices"
              name="Nhập hóa đơn từ Excel"
              parent="gara_workshop.menu_gara_grp_documents"
              action="action_gara_invoice_import_wizard"
              groups="gara_workshop.group_gara_role_accountant,account.group_account_manager"
              sequence="85"/>
    <menuitem id="menu_gara_doc_import_journal_entries"
              name="Nhập chứng từ Excel"
              parent="gara_workshop.menu_gara_grp_documents"
              action="action_gara_journal_entry_import_wizard"
              groups="gara_workshop.group_gara_role_accountant,account.group_account_manager"
              sequence="90"/>
    <menuitem id="menu_gara_acc_closing_lock"
              name="Khóa sổ / khóa kỳ"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_closing_lock_wizard"
              groups="account.group_account_manager"
              sequence="85"/>
    <menuitem id="menu_gara_acc_closing_config"
              name="Thiết lập kết chuyển"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_closing_config"
              groups="account.group_account_manager"
              sequence="86"/>
    <menuitem id="menu_gara_acc_opening_balance"
              name="Nhập số dư đầu kỳ"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_opening_balance_wizard"
              groups="account.group_account_manager"
              sequence="87"/>
    <menuitem id="menu_gara_acc_period_rollover"
              name="Chuyển kỳ dữ liệu"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_period_rollover_wizard"
              groups="account.group_account_manager"
              sequence="88"/>
    <menuitem id="menu_gara_acc_renumber"
              name="Đánh lại chứng từ"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_document_renumber_wizard"
              groups="account.group_account_manager"
              sequence="89"/>
    <menuitem id="menu_gara_acc_recompute_cost"
              name="Tính lại giá vốn"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_product_cost_recompute_wizard"
              groups="account.group_account_manager"
              sequence="90"/>
    <menuitem id="menu_gara_acc_closing_entries"
              name="Bút toán kết chuyển tự động"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_closing_entry_wizard"
              groups="account.group_account_manager"
              sequence="91"/>
    <menuitem id="menu_gara_acc_allocation_plan"
              name="Kế hoạch phân bổ"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_allocation_plan"
              groups="account.group_account_manager"
              sequence="92"/>
    <menuitem id="menu_gara_acc_allocation_run"
              name="Thực hiện phân bổ"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_allocation_run_wizard"
              groups="account.group_account_manager"
              sequence="93"/>
    <menuitem id="menu_gara_acc_allocation_execution"
              name="Chi tiết đã thực hiện"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_allocation_execution"
              groups="account.group_account_manager"
              sequence="94"/>
    <menuitem id="menu_gara_acc_accounting_rule"
              name="Quy tắc hạch toán"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_accounting_rule"
              groups="account.group_account_manager"
              sequence="95"/>
    <menuitem id="menu_gara_acc_document_sequence_rule"
              name="Quy tắc đánh số chứng từ"
              parent="gara_workshop.menu_gara_grp_accounting"
              action="action_gara_document_sequence_rule"
              groups="account.group_account_manager"
              sequence="96"/>
</odoo>
