<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_gara_report_service_cases"
              name="Báo cáo dịch vụ"
              parent="gara_workshop.menu_gara_grp_reporting"
              action="action_gara_service_case_report"
              sequence="31"/>
    <menuitem id="menu_gara_report_stock_ledger"
              name="Sổ kho"
              parent="gara_workshop.menu_gara_grp_stock"
              action="action_gara_stock_ledger_report"
              groups="stock.group_stock_user"
              sequence="24"/>
    <menuitem id="menu_gara_report_account_summary"
              name="Tổng hợp tài khoản"
              parent="gara_workshop.menu_gara_grp_reporting"
              action="action_gara_account_summary_report"
              groups="account.group_account_readonly"
              sequence="50"/>
    <menuitem id="menu_gara_report_t_account"
              name="Sổ tài khoản chữ T"
              parent="gara_workshop.menu_gara_grp_reporting"
              action="action_gara_t_account_report"
              groups="account.group_account_readonly"
              sequence="52"/>
    <menuitem id="menu_gara_report_partner_balance"
              name="Tổng hợp công nợ"
              parent="gara_workshop.menu_gara_grp_reporting"
              action="action_gara_partner_balance_report"
              groups="account.group_account_readonly"
              sequence="55"/>
    <menuitem id="menu_gara_report_bank_cash"
              name="Tổng hợp tiền gửi NH / tiền mặt"
              parent="gara_workshop.menu_gara_grp_reporting"
              action="action_gara_bank_cash_report"
              groups="account.group_account_readonly"
              sequence="60"/>
    <menuitem id="menu_gara_report_foreign_currency"
              name="Tiền gửi / công nợ ngoại tệ"
              parent="gara_workshop.menu_gara_grp_reporting"
              action="action_gara_foreign_currency_report"
              groups="account.group_account_readonly"
              sequence="65"/>
    <menuitem id="menu_gara_report_product_price"
              name="Bảng giá sản phẩm"
              parent="gara_workshop.menu_gara_grp_reporting"
              action="action_gara_product_price_report"
              sequence="70"/>
    <menuitem id="menu_gara_financial_statement_lines"
              name="Chỉ tiêu BCTC"
              parent="gara_workshop.menu_gara_grp_reporting"
              action="action_gara_financial_statement_line"
              groups="account.group_account_readonly"
              sequence="75"/>
    <menuitem id="menu_gara_report_financial_statement"
              name="Báo cáo tài chính"
              parent="gara_workshop.menu_gara_grp_reporting"
              action="action_gara_financial_statement_report"
              groups="account.group_account_readonly"
              sequence="80"/>
</odoo>
